*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

span {
  margin: 0;
  padding: 0;
  display: block;
}

ul {
  list-style: none;
}

[class*=__container] {
  padding: 0px 10px;
  max-width: 1251px;
  margin: 0 auto;
}

body .wrapper {
  overflow: hidden;
  height: 100%;
}
body .wrapper #header {
  font-family: "Lato";
}
body .wrapper #header :root {
  --top-primary-color: #424551;
  --center-primary-color: #1e212c;
}
body .wrapper #header .btn__homepage {
  padding: 0px 40px;
  min-height: 52px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}
body .wrapper #header .btn__homepage:hover {
  background: transparent;
  color: #ff4242;
}
body .wrapper #header .header__container {
  padding: 0px 10px;
}
body .wrapper #header .header__container .header__top {
  padding-top: 20px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__img {
  cursor: pointer;
  margin-right: 60px;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item:not(:last-child) {
  margin-right: 40px;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item .header__list-item__link {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--top-primary-color);
  cursor: pointer;
  -webkit-transition: all 0.12s;
  transition: all 0.12s;
}
body .wrapper #header .header__container .header__top .header__top-left .header__top-left__menu .header__left-menu__list .header__menu-list__item .header__list-item__link:hover {
  opacity: 0.9;
  letter-spacing: 0.2px;
}
body .wrapper #header .header__container .header__top .header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__button {
  margin-right: 36px;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__img {
  margin-right: 8px;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--top-primary-color);
  text-align: center;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__login {
  cursor: pointer;
  margin-right: 4px;
}
body .wrapper #header .header__container .header__top .header__top-right .header__top-right__login .header__right-login__text .header__login-text__register {
  margin-left: 4px;
  cursor: pointer;
}
body .wrapper #header .header__container .header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 189px;
}
body .wrapper #header .header__container .header__center .header__center-left {
  padding: 12px 0px 0px 0px;
}
body .wrapper #header .header__container .header__center .header__center-left .header__center-left__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
body .wrapper #header .header__container .header__center .header__center-left .header__center-left__play .header__left-play__circle {
  margin-right: 16px;
  cursor: pointer;
}
body .wrapper #header .header__container .header__center .header__center-left .header__center-left__play .header__left-play__circle .header__play-circle__block {
  width: 52px;
  height: 52px;
  background-color: #ff3f3a;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #header .header__container .header__center .header__center-left .header__center-left__title {
  margin-bottom: 60px;
  max-width: 496px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--primary-color);
}
body .wrapper #header .header__container .header__center .header__center-left .header__center-left__buttons .header__button-button__left {
  margin-right: 24px;
}
body .wrapper #header .header__container .header__bottom .header__bottom-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #header .header__container .header__bottom .header__bottom-statistics .header__bottom-statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #header .header__container .header__bottom .header__bottom-statistics .header__bottom-statistics__item .header__statistics-item__number {
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: var(--primary-color);
  margin-right: 12px;
}
body .wrapper #header .header__container .header__bottom .header__bottom-statistics .header__bottom-statistics__item .header__statisrics-item__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--primary-color);
}
body .wrapper #header .header__container .header__bottom .header__bottom-statistics .header__bottom-statistics__circle {
  margin: 0px 66px;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: #ff3f3a;
}
body .wrapper #main {
  font-family: "Lato";
}
body .wrapper #main .btn__homepage {
  padding: 0px 40px;
  min-height: 52px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ff4242;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}
body .wrapper #main .btn__homepage:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
}
body .wrapper #main .about .about__container {
  padding: 180px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .about .about__container .about__info .about__info-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .about .about__container .about__info .about__info-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
  margin-bottom: 40px;
}
body .wrapper #main .about .about__container .about__info .about__info-list {
  margin-bottom: 48px;
}
body .wrapper #main .about .about__container .about__info .about__info-list .about__info-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
body .wrapper #main .about .about__container .about__info .about__info-list .about__info-list__item .about__list-item-img {
  position: relative;
  top: 3px;
  margin-right: 16px;
}
body .wrapper #main .about .about__container .about__info .about__info-list .about__info-list__item .about__list-item-descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
body .wrapper #main .about .about__container .about__info .about__info-list .about__info-list__item:not(:last-child) {
  margin-bottom: 12px;
}
body .wrapper #main .courses {
  margin-bottom: 180px;
}
body .wrapper #main .courses .courses__container .courses__header {
  margin-bottom: 60px;
}
body .wrapper #main .courses .courses__container .courses__header .courses__header-text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .courses .courses__container .courses__header .courses__header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .courses .courses__container .courses__header .courses__header-bottom .courses__header-bottom__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
body .wrapper #main .courses .courses__container .courses__cards {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item {
  margin: 0px 14px 14px 0px;
  max-width: 600px;
  min-height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-img__box {
  max-width: 214px;
  min-height: 214px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content {
  padding: 32px;
  min-height: 100%;
  border: 1px solid #e5e8ed;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content .courses__item-content__direction {
  display: inline-block;
  padding: 1px 8px;
  background: #03cea4;
  border: none;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content .courses__item-content__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content .courses__item-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  color: #787a80;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content .courses__item-content__info .courses__content-info__price {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  color: #ff4242;
}
body .wrapper #main .courses .courses__container .courses__cards .courses__cards-item .courses__item-content .courses__item-content__info .courses__content-info__vertical {
  height: 16px;
  width: 1px;
  background-color: #787a80;
  margin: 0px 8px;
}
body .wrapper #main .benefits .benefits__container .benefits__header {
  margin-bottom: 60px;
}
body .wrapper #main .benefits .benefits__container .benefits__header .benefits__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 6px;
}
body .wrapper #main .benefits .benefits__container .benefits__header .benefits__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar .benefits__body-bar__item {
  padding: 10px 0px;
  min-width: 307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar .benefits__body-bar__item:not(:last-child) {
  margin-right: 60px;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar .benefits__body-bar__item .benefits__item-img__box {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar .benefits__body-bar__item .benefits__item-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #9a9ca5;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-bar .benefits__body-bar__item .benefits__item-text:hover {
  color: #ff3f3a;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-info .benefits__body-info__content {
  max-width: 495px;
  margin-right: 135px;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-info .benefits__body-info__content .benefits__info__content__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 32px;
  color: #1e212c;
  margin-bottom: 24px;
}
body .wrapper #main .benefits .benefits__container .benefits__body .benefits__body-info .benefits__body-info__content .benefits__info__content__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
body .wrapper #main .events {
  padding: 120px 0px 80px 0px;
}
body .wrapper #main .events .events__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper #main .events .events__container .events__header {
  margin-bottom: 60px;
  opacity: 0.8;
}
body .wrapper #main .events .events__container .events__header .events__header-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .events .events__container .events__header .events__header-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .events .events__container .events__cards {
  max-width: 100%;
  margin-bottom: 60px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item {
  padding: 32px 40px;
  border: none;
  border-radius: 4px;
  min-width: 100%;
  background-color: #fff;
  border: 2px solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item:not(:last-child) {
  margin-bottom: 24px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__left .events__content-left__number {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 20px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__left .events__content-left__info .events__left-info__month {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  margin-bottom: 4px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__left .events__content-left__info .events__left-info__time {
  min-width: 100px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #787a80;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__right .events__content-right__descr {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  margin-bottom: 4px;
}
body .wrapper #main .events .events__container .events__cards .events__cards-item .events__cards-item__content .events__item-content__right .events__content-right__online {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #787a80;
}
body .wrapper #main .events .events__container .events__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
body .wrapper #main .events .events__container .events__footer .events__footer-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 28px;
  color: #1e212c;
  margin-right: 40px;
}
body .wrapper #main .sertificate {
  padding: 120px 0px;
}
body .wrapper #main .sertificate .sertificate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left {
  max-width: 397px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left .sertificate__left-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left .sertificate__left-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 48px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left .sertificate__left-descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 32px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left .sertificate__left-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__left .sertificate__left-images .sertificate__images-img__box:not(:last-child) {
  margin-right: 40px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__right-img__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  max-height: 500px;
}
body .wrapper #main .sertificate .sertificate__container .sertificate__right-img__box .sertificate__right-img {
  position: relative;
  max-width: 720px;
  max-height: 500px;
  top: 1px;
}
body .wrapper #main .team {
  background: #f4f5f7;
}
body .wrapper #main .team .team__container {
  padding: 166px 0px 180px 0px;
}
body .wrapper #main .team .team__container .team__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}
body .wrapper #main .team .team__container .team__header .team__header-left .team__header-left__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
body .wrapper #main .team .team__container .team__header .team__header-left .team__header-left__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
body .wrapper #main .team .team__container .team__header .team__header-right__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}
body .wrapper #main .team .team__container .team__header .team__header-right__images .team__right-images__img {
  cursor: pointer;
}
body .wrapper #main .team .team__container .team__header .team__header-right__images .team__right-images__img:not(:last-child) {
  margin-right: 26px;
}
body .wrapper #main .team .team__container .team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
body .wrapper #main .team .team__container .team__cards .team__cards-card {
  max-width: 285px;
}
body .wrapper #main .team .team__container .team__cards .team__cards-card .team__card-img__box {
  max-width: 285px;
  max-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
}
body .wrapper #main .team .team__container .team__cards .team__cards-card .team__cards-card__content .team__card-content__name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #424551;
  margin-bottom: 4px;
}
body .wrapper #main .team .team__container .team__cards .team__cards-card .team__cards-card__content .team__card-content__position {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #787a80;
}
body .wrapper #main .testimonials {
  background: #f4f5f7;
}
body .wrapper #main .testimonials .testimonials__container {
  padding: 180px 0px 100px 0px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__header {
  margin-bottom: 60px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__header .testimonials__prevtext {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__header .testimonials__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-left .testimonials__body-leftArrow {
  cursor: pointer;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center {
  padding: 64px 105px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  max-width: 1020px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__cards-left {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__cards-left .testimonials__cards-leftIcon:not(:last-child) {
  margin-right: 8px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-footer .testimonials__card-avaBox {
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-right: 20px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-footer .testimonials__card-avaBox .testimonials__card-ava {
  width: 96px;
  height: 96px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-footer .testimonials__card-info .testimonials__card-name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  margin-bottom: 4px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-center .testimonials__cards .testimonials__card .testimonials__card-footer .testimonials__card-info .testimonials__card-positon {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #787a80;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__body .testimonials__body-right .testimonials__body-rightArrow {
  cursor: pointer;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__footer .testimonials__footer-line {
  width: 30px;
  height: 3px;
  border: none;
  border-radius: 18px;
  background-color: #b3b7bc;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__footer .testimonials__footer-line:not(:last-child) {
  margin-right: 12px;
}
body .wrapper #main .testimonials .testimonials__container .testimonials__footer .testimonials__footer-line:first-child {
  background-color: #424551;
}
body .wrapper #main .blog .blog__container {
  padding: 120px 0px 180px 0px;
}
body .wrapper #main .blog .blog__container .blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
body .wrapper #main .blog .blog__container .blog__header .blog__header-left .blog__header-left__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
body .wrapper #main .blog .blog__container .blog__header .blog__header-left .blog__header-left__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
}
body .wrapper #main .blog .blog__container .blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post {
  max-width: 390px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box {
  margin-bottom: 16px;
  position: relative;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr {
  padding: 2px 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 88%;
  left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr .blog__descr-img__box {
  margin-right: 4px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-img__box .blog__body-img__descr .blog__descr-img__name {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #424551;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__course {
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__vertical {
  color: #787a80;
  margin: 0px 12px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data .blog__data-img__box {
  margin-right: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__data .blog__data-date {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time .blog__time-img__box {
  margin-right: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__top .blog__content-top__time .post__time-time {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787a80;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__descr {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #main .blog .blog__container .blog__body .blog__body-post .blog__post-content .blog__post-content__info .blog__content-info__click .blog__info-click__text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #1e212c;
  margin-right: 8px;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer {
  padding-top: 120px;
  margin: 0 auto;
  max-width: 1910px;
  min-height: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center {
  margin: 0px 0px 180px 0px;
  min-width: 810px;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-title {
  max-width: 810px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  color: #1e212c;
  margin-bottom: 60px;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form {
  max-width: 606px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input {
  min-width: 100%;
  min-height: 52px;
  padding: 13px 16px;
  margin-right: 24px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  margin-bottom: 16px;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input::-webkit-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input::-moz-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input:-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input::-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #main .subscribe .subscribe__uniqcontainer .subscribe__center .subscribe__center-form .subscribe__center-form__input::placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9a9ca5;
}
body .wrapper #footer {
  font-family: "Lato";
}
body .wrapper #footer .footer__body {
  padding: 80px 0px 60px 0px;
  background-color: #1e212c;
}
body .wrapper #footer .footer__body .footer__container {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left {
  max-width: 279px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-img__box {
  margin-bottom: 24px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 38px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials .footer__socials-img__box:not(:last-child) {
  margin-right: 20px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-left .footer__left-socials .footer__socials-img__box .footer__socials-img {
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__item {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-list .footer__body-list__item:not(:last-child) {
  margin-bottom: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item .footer__contact-img {
  margin-right: 8px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-contact .footer__body-contact__item .footer-contact__text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter {
  max-width: 286px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__input {
  padding: 9px 12px;
  min-width: 100%;
  min-height: 36px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  outline: none;
  margin-bottom: 12px;
}
body .wrapper #footer .footer__body .footer__container .footer__body-newsletter .footer__body-newsletter__warning {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}
body .wrapper #footer .footer__footer {
  padding: 20px 0px;
  background-color: #292c37;
}
body .wrapper #footer .footer__footer .footer__container {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-left {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-left .footer__footer-left__img {
  margin: 0px 4px;
}
body .wrapper #footer .footer__footer .footer__container .footer__footer-right {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}